__pycache__/chatgpt.cpython-311.pyc
apiKey.py
__pycache__/whisper_file.cpython-312.pyc
__pycache__/apiKey.cpython-312.pyc
__pycache__/chatgpt.cpython-312.pyc
__pycache__/dallE.cpython-312.pyc
__pycache__/enreAudio.cpython-312.pyc
*.pyc
.vscode/settings.json
