<!DOCTYPE html>
<html>
<head>
    <title>OpenAI Interface</title>
</head>
<body>
    <h1>OpenAI Interface</h1>

    <form method="post" id="iaForm">
        <button id="Dall-E" name="Dall-E" onclick="submitForm(1)">Dall-e</button><br>
        <button id="chatGTP" name="chatGTP" onclick="submitForm(2)">ChatGTP</button><br>
    </form>
    <script>
        function submitForm(choice) {
            let form = document.getElementById('iaForm');
            form.action = "/choix_ia/" + choice;
            //Soumettre le formulaire
            form.submit();
        }
    </script>
</body>
</html>