body {
    background-color: #1b263b;
    display: flex;
}

h1 {
    margin: 2px;
    color: #FFFF;
}

h1:hover {
    cursor: default;
}

.div-p {
    font-size: 18px;
    font-weight: 600;
    color: #ffcad4;
}

div {
    display: flex;
    flex-direction: column;
}